
@import url('https://fonts.googleapis.com/css?family=Rock+Salt');



body {
  background-color: #000;
}

h2 {
  color: #fff;
}


.list-group-item {
  color: #fff;
  background-color: #282828;
  height: 50px;
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  border: 1px solid #ddd;
}
ul li {
  color: #fff;
  background-color: #282828;
  height: 50px;
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  border: 1px solid #ddd;
  cursor: pointer;
}



ul li.checked {
    text-decoration: line-through;
}
.quote{
  text-align: center;
  font-family: 'Rock Salt', cursive;
  margin-top: 50px;
  color: #fff;
  font-size: 25px;
}
